body {
	margin: 0;
}

.zone {
	color: skyblue;
	font-size: 2em;
	border-radius: 4px;
	border: 1px solid #bbb;
	transition: all 0.3s linear;
}

.zone:hover {
	cursor: pointer;
}

.main-nav {
	display: flex;
	list-style: none;
	margin: 0;
	font-size: 1em;
	background-color:#444;
}

@media only screen and (max-width: 600px) {
	.main-nav {
		font-size: 0.5em;
		padding: 0;
	}
}

.push {
	margin-left: auto;
}

li {
	padding: 20px;
}

a {
	color: skyblue;
	text-decoration: none;	
}

.container {
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 40px;
}

.box {
	background-color: #444;
	padding: 120px;
	margin: 20px;
}

.box > img {
	width: 100%;
}

.mojo {
	color: darkred;
}